extends layout

block content
  h1= title
  p Welcome to the #{title} homepage. This website holds a large database of letters which you can use to browse through and search through with xquery or logical operations. When you have found the letter/s you need you can also download the raw TEI of the document.

