doctype html
html
	head
		title= title
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

	body
	nav.navbar.navbar-inverse
		.container-fluid
			.navbar-header
				button.navbar-toggle(data-toggle="collapse", data-target="#myNavbar")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/") COLENSO
			.collapse.navbar-collapse#myNavbar
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown" href="#") SEARCH #[span.caret]
						ul.dropdown-menu
							li
								a(href="search") XQUERY Search
							li
								a(href="logicalsearch") Logical Search
					li 
						a(href="browse") BROWSE
					li
						a(href="help") HELP


	block content
