doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
	body
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				a.navbar-brand(href="/") Colenso
			ul.nav.navbar-nav
				li
					a(href="search") XQUERY Search
				li
					a(href="logicalsearch") Logical Search
				li 
					a(href="browse") Browse


	block content
