extends layout

block content
	h1= title

	form.form(action='/logicalsearch', method='get')
		.form-group
			label(for='query') Enter Logical Search (Logical operations (ftor, ftand, ftnot, .?, .*, .+)):
			input.form-control(type='query', name='searchString')

		button.btn.btn-default(type='submit') Submit

	h1 Results

	table.table
		thead
			th File Name
		tbody
			each file in files
				tr
					td
						a(href='viewfile?file=/' + file)=file