extends layout

block content
	h1= title

	form.form(action='/results', method='get')
		.form-group
			label(for='query') Enter Query (do not need XQUERY at start of search):
			input.form-control(type='query', name='searchString')
		button.btn.btn-default(type='submit') Submit



